
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Work+Sans:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, h2, label{
    font-family: 'Lora', serif;
}

h2{
    font-size: 2.4rem;
    margin-bottom: 10px;
    text-align: center;
}

a, p, input, textarea{
    font-family: 'Work Sans', sans-serif;
}

p{
    color: #000;
    font-size: 1.2rem;
    font-weight: 300;
}

a{
    color: #fff;
    text-decoration: unset;
}

ul{
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
}

.story-text h2, .story-text p,
#contact h2, #contact p,
footer p, label{
    color: #fff;
}

#ourStory, #contact, .navTop {
    background-color: #2e2e2e;
    display: flex;
}

/* ------------ header ------------ */
header{
    display: flex;
    height: 100vh;
}

header article:nth-of-type(1){
    width: 40%;
    padding: 27% 0;
    text-align: center;
}

header article:nth-of-type(1) h1{
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

header article:nth-of-type(2){
    width: 60%;
    background: url(../img/design-interior-1.jpg) no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

/* ---------- navTop ---------- */
.navTop{
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
}

.navLinks{
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-right: 8%;
}

/* ---------- section: OurStory ---------- */
#ourStory{
    padding: 22vh 0;
}

.story-pic{
    width: 53%;
}

.story-text{
    width: 47%;
    padding: 4% 5% 8% 4%;
}

.story-text p{
    text-align: justify;
    line-height: 30px;
    margin-bottom: 20px;
}

/* ---------- section: Designs ---------- */
.designs-top{
    padding: 17% 0 0% 0;
}

.designs-top p{
    font-weight: 300;
    width: 47%;
    margin-left: 28%;
    word-spacing: 10px;
}

.designs-middle{
    display: flex;
    justify-content: space-evenly;
    padding: 7% 0%;
}

figure{
    width: 30%;
}

figcaption{
    letter-spacing: 2px;
    padding: 0 7%;
    text-align: center;
}

.designs-bottom{
    padding: 3% 0 13% 0;
}

iframe{
    width: 560px; 
    height: 315px;
    display: block;
    margin: 0 auto;
}
    
/* ---------- section: Contact ---------- */

#contact{
    padding: 18% 0 19% 0;
}

.contact-text{
    width: 60%;
    padding: 1% 7%;
}

.contact-text h2{
    text-align: left;
}

.contact-text p{
    margin-top: 30px;
    padding-right: 22%;
    text-align: justify;
    line-height: 30px;
}

.contact-form{
    width: 40%;
}

form{
    display: grid;
    padding: 0 33% 0 0;
}

label{
    margin-bottom: 3px;
}

input, textarea{
    font-size: .8rem;
    border-radius: 3px;
    padding: .2em;
    margin-bottom: 20px;
}

button[type="submit"]{
    width: 7em;
    padding: .3em;
}
/* ---------- footer --------- */

footer{
    background-color: #1d2c2f;
    padding: 1% 3%;
}

 .nav-Bottom, .nav-Bottom ul{ 
    display: flex;
} 

.nav-Bottom ul:nth-of-type(1){
    justify-content: space-between;
    width: 47%;
}

.nav-Bottom ul:nth-of-type(2){
    justify-content: end;
    width: 53%;
    gap: 5em
}



